.button {
    margin: 20px 20px;
}

.button span {
    margin-left: 0px;
}

@media (max-width: 500px) {
    .button {
        width: 5px !important;
        height: 30px !important;
        margin-bottom: 10px;
        margin-left: 13px;
        justify-items: center;


    }

    .button span {
        margin-left: 0px;
    }
}
