html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

.title{
  width: 15vw;
}


.button{
  width: 8vw;
  font-size: 1vw;
  margin-left: 5px;
  font-family: Roboto;
}

@media (max-width: 500px) {
  .title{
      width: 10vw;
  }

  .button{
      width: 2vw;
      font-size: 2vw;
      margin-left: 5px;
      font-family: Roboto;
  }
}

.buttonTab {
  margin: 20px 20px;
}

.buttonTab span {
  margin-left: 0px;
}

@media (max-width: 500px) {
  .buttonTab {
      width: 5px !important;
      height: 30px !important;
      margin-bottom: 10px;
      margin-left: 13px;
      justify-items: center;


  }

  .buttonTab span {
      margin-left: 0px;
  }
}

.tileHolders {
  margin-top: 20px !important;
}

@media (max-width: 500px) {
  .upperHolders {
      margin-left: 20px;
  }
  
}

.footer {
  display: flex;
  flex: 1;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.footer p {
  font-size: 1vw;
  margin-right: 10px;
}

@media (max-width: 500px) {
  .footer {
      display: flex;
      flex: 1;
      border-top: 1px solid #eaeaea;
      justify-content: center;
      align-items: center;
      position: fixed;
      bottom: 0;
      width: 100%;
  }

  .footer a {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }
  
    .footer p {
        font-size: 3vw;
        margin-right: 5px;
    }
}

.holder {
  margin: 5px 5px;
}

@media (max-width: 500px) {
  .holder {
      width: 40px !important;
      height: 60px !important;
      margin: 5px 5px;
      padding: 0 !important;
  }
}


.statusTab{
  margin-left: 15vw;
  padding-top: 10px;
}

@media (max-width: 500px) {
  .statusTab{
      padding-top: 15px;
      margin-bottom: 20px;
      margin-left: 0;
  }

  .statusButton{
      min-width: 5px;
      margin: 0 10px 5px !important;
      font-size: 10px;
  }
}

.tile {
  margin: 5px 5px;
}

.tile:active {
  animation-name: selectTile;
  animation-duration: 1s;
}

@keyframes selectTile {
  from {width: 40px;}
  to {width: 50px;}
}

@media (max-width: 500px) {
  .tile {
    width: 40px;
    height: 40px;
  }
}


