.title{
    width: 15vw;
}


.button{
    width: 8vw;
    font-size: 1vw;
    margin-left: 5px;
    font-family: Roboto;
}
  
@media (max-width: 500px) {
    .title{
        width: 10vw;
    }

    .button{
        width: 2vw;
        font-size: 2vw;
        margin-left: 5px;
        font-family: Roboto;
    }
}